function Main.main 3
push constant 10
pop local 0
push constant 10
pop local 1
push local 0
push local 1
call Main.mul 2
pop local 2
push local 2
call Output.printInt 1
pop temp 0
push constant 0
return
function Main.mul 0
push argument 1
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push argument 0
push argument 0
push argument 1
push constant 1
sub
call Main.mul 2
add
return
