    function Main.fact 0
push argument 0
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
return
label IF_FALSE0
push argument 0
push argument 0
push constant 1
sub
call Main.fact 1
call Math.multiply 2
return
function Main.main 2
push constant 3
pop local 0
push local 0
call Main.fact 1
pop local 1
push constant 0
return
